<div id="scrollbox">
  <div id="vertical-margin">
    <div id="margin-top"></div>

    <div id="horizontal-margin">
      <div class="margin-side"></div>

      <div id="grid">
        <% for (var i = 0; i < 3; i++) { %>
          <div class="row">
            <% for (var j = 0; j < 3; j++) { %>
              <div class="cell"></div>
            <% } %>
          </div>
        <% } %>
      </div>

      <div class="margin-side"></div>
    </div>

    <div id="margin-bottom"></div>
  </div>
</div>
