<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>" manifest="/newnewtab.appcache">
<head>
  <meta charset="utf-8">

  <title>Newnewtab</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../stylesheets/app.css">
  <link rel="stylesheet" href="../stylesheets/moz.css">
</head>

<body>
  <%- body %>

  <script data-main="../javascripts/main" src="../javascripts/lib/require.js"></script>
</body>
</html>
