<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>" manifest="newnewtab.appcache">
<head>
  <meta charset="utf-8">

  <title>Newnewtab</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../stylesheets/app.css">
  <link rel="stylesheet" href="../stylesheets/moz.css">
</head>

<body>
  <%- body %>

  <footer>
    <% if (session.email) { %>
      <a href="/logout"><% _('Log out') %></a>
    <% } else { %>
      <a href="#login" id="login"><% _('Sign in with Persona') %></a>
      <form method="POST" action="/login" class="login">
        <input type="hidden" name="bid_assertion" value="1">
      </form>
    <% } %>
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://browserid.org/include.js"></script>
  <script src="../javascripts/main.js"></script>
  <script src="../javascripts/less.js"></script>
</body>
</html>
