<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang_dir %>" >
<!-- manifest="/newnewtab.appcache" Removed while early dev'ing -->
<head>
  <meta charset="utf-8">

  <title>Newnewtab</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../stylesheets/app.css">
  <link rel="stylesheet" href="../stylesheets/moz.css">
</head>

<body>
  <%- body %>

  <footer>
    <% if (session.email) { %>
      <a href="/logout"><% gettext('Log out') %></a>
    <% } else { %>
      <a href="#login" id="login"><% gettext('Sign in with Persona') %></a>
      <form method="POST" action="/login" class="login">
        <input type="hidden" name="bid_assertion" value="1">
      </form>
    <% } %>
  </footer>

  <script src="../javascripts/lib/mu.js"></script>
  <script src="../javascripts/lib/ejs_production.js"></script>
  <script data-main="../javascripts/main" src="../javascripts/lib/require.js"></script>
</body>
</html>
