<div class="app cell" data-app-id="<%= i %>">
  <div class="site">
    <span class="thumbnail" style="background: url(<%= app.developer['url'] + app.icons['128'] %>) no-repeat 50% 0;"></span>
    <span class="title"><%= app.name %></span>
    <!--
    <input type="button" title="Pin this app at its current position" class="control control-pin">
    <input type="button" title="Remove this app" class="control control-block">
    -->
  </div>
</div>
