<div class="app cell" data-app-id="<%= i %>">
  <div class="site">
    <img class="thumbnail" src="<%= app.imageURL %>" alt="<%= app.name %>">
    <span class="title"><%= app.name %></span>
    <!--
    <input type="button" title="Pin this app at its current position" class="control control-pin">
    <input type="button" title="Remove this app" class="control control-block">
    -->
  </div>
</div>
