<div id="browser-warning">
  <h1>newnewtab requires Firefox 15+</h1>

  <p>
    newnewtab requires the <code>window.navigator.mozApps</code> API to be
    present in your browser. If you don't know what that means: no worries.
  </p>

  <p>
    Basically, Firefox 15+ is required to test newnwewtab.
    <a href="http://nightly.mozilla.org">Get Firefox Nightly</a> to try out
    newnewtab.
  </p>
</div>
