<div class="cell recommendation">
  <a class="site" href="<%= recommendation.url %>" target="_blank">
    <img class="thumbnail" src="<%= recommendation.imageURL %>" alt="<%= recommendation.name %>">
    <span class="title"><%= recommendation.name %></span>
  </a>
</div>
