body {
  background-attachment: fixed;
  background-color: rgb(229, 229, 229);
  background-image: url(chrome://browser/skin/newtab/noise.png),
                    -moz-linear-gradient(rgba(255, 255, 255, .5),
                                         rgba(255, 255, 255, .2));
}

#scrollbox {
  width: 100%;
}

#margin-top {
  -moz-box-flex: 1;
  max-height: 80px;
  min-height: 50px;
}

#margin-bottom {
  -moz-box-flex: 1;
  max-height: 100px;
  min-height: 40px;
}

.transparent {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

.margin-side {
  -moz-box-flex: 1;
  max-width: 300px;
  min-width: 40px;
}

.title {
  font: message-box;
  text-align: center;
}

.cell {
  display: none;
  &.app {
    cursor: pointer;
    display: -moz-box;
  }
}
